* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page1 {
  background-color: blue;
  color: white;
  height: 658px;
  width: 100%;
  padding: 250px;
  text-align: center;
}
#page2 {
  background-color: coral;
  color: white;
  height: 658px;
  width: 100%;
  padding: 250px;
  text-align: center;
}
#page3 {
  background-color: rgb(20, 94, 59);
  color: white;
  height: 658px;
  width: 100%;
  padding: 250px;
  text-align: center;
}
#page4 {
  background-color: rgb(150, 93, 197);
  color: white;
  height: 658px;
  width: 100%;
  padding: 250px;
  text-align: center;
}
.a1 {
  background-color: white;
  color: black;
  padding: 8px;
  text-decoration: none;
}
.a1:hover {
  background-color: rgb(46, 46, 46);
  color: white;
  text-decoration: none;
}
.a2 {
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 8px;
  text-decoration: none;
}
.a2:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
h1 {
  font-size: xx-large;
}
p {
  font-weight: bold;
}
